@import url('https://fonts.googleapis.com/css2?family=family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-container: var(--container-8xl);
  --ui-radius: 0.375rem;
  --sans-serif: var(--sans-serif);
  --text-base: #060606;
}


@theme {
  /* Contenedores personalizados */
  --container-8xl: 90rem;

  /* Background colors personalizados  */

  --bg-primary-landing: #f6f6f6;
  --bg-secondary-landing: #f8fafc;

  /* Text colors */
  --color-tertiary: #060606;
}

body {
  background-color: var(--bg-primary-landing);
  color: var(--text-base);
}